{% extends 'areas/base.html' %}

{% block menu-aside %}
<nav class="nav-aside">
	<ul>
		<li>Notas</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
		<li>Item 5</li>
	</ul>
</nav>
{% endblock %}

{% block content %}
<h1>ADS 1º SEM</h1>
<div class="nav-notas">
	<h2>Disciplinas</h2>
	<div class="nav-btns" id="nav-btns">
		<a href="#" id="btn-disc1" class="active-button" onclick="changeTable(this)">Disciplinas 1</a>
		<a href="#" id="btn-disc2" onclick="changeTable(this)">Disciplinas 2</a>
		<a href="#" id="btn-disc3" onclick="changeTable(this)">Disciplinas 3</a>
		<a href="#" id="btn-disc4" onclick="changeTable(this)">Disciplinas 4</a>
		<a href="#" id="btn-disc5" onclick="changeTable(this)">Disciplinas 5</a>
	</div>
</div>
<div class="table">
	<table class="notas" id="table-discplina-1">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Data</th>
				<th>Nota</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>3</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>4</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>5</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>6</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>7</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>8</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>9</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>10</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
		</tbody>
	</table>

	<table class="notas none" id="table-discplina-2">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Data</th>
				<th>Nota</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>3</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>4</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>5</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>6</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>7</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>8</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>9</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>10</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
		</tbody>
	</table>


	<table class="notas none" id="table-discplina-3">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Data</th>
				<th>Nota</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>3</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>4</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>5</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>6</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>7</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>8</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>9</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>10</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
		</tbody>
	</table>

	<table class="notas none" id="table-discplina-4">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Data</th>
				<th>Nota</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>3</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>4</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>5</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>6</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>7</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>8</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>9</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>10</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
		</tbody>
	</table>

	<table class="notas none" id="table-discplina-5">
		<thead>
			<tr>
				<th>Nº</th>
				<th>Data</th>
				<th>Nota</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>1</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>2</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>3</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>4</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>5</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>6</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			<tr>
				<td>7</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
			
			<tr>
				<td>8</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>9</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>

			
			<tr>
				<td>10</td>
				<td>--/--/--</td>
				<td>--</td>
			</tr>
		</tbody>
	</table>
</div>
{% endblock %}