{% extends 'home/base.html' %}
{% load static %}

{% block title %}Disciplinas{% endblock %}

{% block content %}
<section class="cursos">
     <h1>DISCIPLINAS</h1>
     <div>
          <div class="curso">
               <p class="titulo"><b>Nome Disciplina</b></p>
               <p>Lorem ipsum dolor</p>
          </div>

          <div class="curso">
               <p class="titulo"><b>Nome Disciplina</b></p>
               <p>Lorem ipsum dolor</p>
          </div>

          <div class="curso">
               <p class="titulo"><b>Nome Disciplina</b></p>
               <p>Lorem ipsum dolor</p>
          </div>

          <div class="curso">
               <p class="titulo"><b>Nome Disciplina</b></p>
               <p>Lorem ipsum dolor</p>
          </div>
               
          <div class="curso">
               <p class="titulo"><b>Nome Disciplina</b></p>
               <p>Lorem ipsum dolor</p>
          </div>

          <div class="curso">
               <p class="titulo"><b>Nome Disciplina</b></p>
               <p>Lorem ipsum dolor</p>
          </div>
     </div>
</section>
{% endblock %}