{% extends 'home/base.html' %}
{% load static %}

{% block title %}Noticias{% endblock %}

{% block content %}
<section>
     <h1 class="news">NOTICIAS</h1>
     <div class="noticias">
          <div class="noticia">
               <div class="img-news">
               </div>
               <div class="content-news">
                    <h1><a href="#">Titulo</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tellus iaculis magna auctor ornare vel ac ligula. Vivamus mattis sit amet dui sit amet laoreet. Aliquam quis enim efficitur quam tempus porttitor suscipit ut augue. Nulla et mollis neque. Aenean vehicula iaculis mi sed mattis. Nunc nec leo dolor. Donec rutrum magna viverra massa lobortis placerat...</p>
                    <div class="inf">
                         <p>Autor: Lorem ipsum</p>
                         <p>21/03/2018</p>
                    </div>
               </div>
          </div>

          <div class="noticia">
               <div class="img-news">
               </div>
               <div class="content-news">
                    <h1><a href="#">Titulo</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tellus iaculis magna auctor ornare vel ac ligula. Vivamus mattis sit amet dui sit amet laoreet. Aliquam quis enim efficitur quam tempus porttitor suscipit ut augue. Nulla et mollis neque. Aenean vehicula iaculis mi sed mattis. Nunc nec leo dolor. Donec rutrum magna viverra massa lobortis placerat...</p>
                    <div class="inf">
                         <p>Autor: Lorem ipsum</p>
                         <p>21/03/2018</p>
                    </div>
               </div>
          </div>

          <div class="noticia">
               <div class="img-news">
               </div>
               <div class="content-news">
                    <h1><a href="#">Titulo</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tellus iaculis magna auctor ornare vel ac ligula. Vivamus mattis sit amet dui sit amet laoreet. Aliquam quis enim efficitur quam tempus porttitor suscipit ut augue. Nulla et mollis neque. Aenean vehicula iaculis mi sed mattis. Nunc nec leo dolor. Donec rutrum magna viverra massa lobortis placerat...</p>
                    <div class="inf">
                         <p>Autor: Lorem ipsum</p>
                         <p>21/03/2018</p>
                    </div>
               </div>
          </div>
          

          <div class="noticia">
               <div class="img-news">
               </div>
               <div class="content-news">
                    <h1><a href="#">Titulo</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tellus iaculis magna auctor ornare vel ac ligula. Vivamus mattis sit amet dui sit amet laoreet. Aliquam quis enim efficitur quam tempus porttitor suscipit ut augue. Nulla et mollis neque. Aenean vehicula iaculis mi sed mattis. Nunc nec leo dolor. Donec rutrum magna viverra massa lobortis placerat...</p>
                    <div class="inf">
                         <p>Autor: Lorem ipsum</p>
                         <p>21/03/2018</p>
                    </div>
               </div>
          </div>

          <div class="noticia">
               <div class="img-news">
               </div>
               <div class="content-news">
                    <h1><a href="#">Titulo</a></h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi id tellus iaculis magna auctor ornare vel ac ligula. Vivamus mattis sit amet dui sit amet laoreet. Aliquam quis enim efficitur quam tempus porttitor suscipit ut augue. Nulla et mollis neque. Aenean vehicula iaculis mi sed mattis. Nunc nec leo dolor. Donec rutrum magna viverra massa lobortis placerat...</p>
                    <div class="inf">
                         <p>Autor: Lorem ipsum</p>
                         <p>21/03/2018</p>
                    </div>
               </div>
          </div>

     </div>
</section>
{% endblock %}