{% extends 'registration/base.html' %}

{% block title %}Alterar senha{% endblock %}

{% block content %}

<div class="login">
  <div class="login-triangle"></div>
  <h2 class="login-header">Login</h2>

  <form class="login-container" method="POST">
    {% if messages %}
      {% for message in messages %}
        <p>{{ message }}</p>
      {% endfor %}
    {% endif %}
    {% csrf_token %}
    <p><input type="text" name="username" placeholder="Login" autofocus required id="id_username" ></p>
    <p><input type="password" name="password" placeholder="password" id="id_password"></p>
    <p><input type="submit" placeholder="Login" value="Entrar"></p>
  </form>

</div>

{% endblock %}